.wp-new-cart-overz {
	overflow: hidden;
}
.wp-new-cart-close {
	margin: 10px 0px 0px 745px; width: 30px; height: 29px; position: absolute; z-index: 100;
}
.wp-new-cart-close a {
	background: url("../view/images/wp-new-cart-background.png") no-repeat; width: 30px; height: 29px; display: block;
}
.wp-new-cart-close a:hover {
	background-position: -32px 0px;
}
.wp-new-cart-windows-top {
	background: url("../view/images/wp-new-cart-background.png") no-repeat 0px -30px; height: 33px; overflow: hidden;
}
.wp-new-cart-windows-content {
	background: url("../view/images/wp-new-cart-content.png") repeat-y; position: relative;
}
.wp-new-cart-windows-bottom {
	background: url("../view/images/wp-new-cart-background.png") no-repeat 0px -64px; height: 42px; overflow: hidden;
}
.wp-new-cart-windows-content-m {
	width: 720px; overflow: hidden; margin-left: 0px;
}
.wp-new-cart-title {
	margin-bottom: 11px;
}
.wp-new-cart-title h1 {
	color: rgb(35, 35, 35); line-height: 100%; padding-bottom: 5px; font-family: Helvetica; font-size: 30px; font-weight: normal; float: left;
}
.wp-new-cart-orderlist table th {
	background: rgb(252, 251, 251); color: rgb(106, 106, 106); font-weight: normal; border-top-color: rgb(243, 242, 242); border-bottom-color: rgb(234, 233, 234); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.wp-new-cart-orderlist td {
	color: rgb(138, 138, 138);
}
.wp-new-cart-orderlist table.wp-new-cart-delivery td {
	color: rgb(0, 0, 0);
}
.wp-new-cart-orderlist table.wp-new-cart-ordermanage td {
	color: rgb(78, 78, 78);
}
.wp-new-cart-orderlist td span.wp-new-cart-quantity {
	padding-left: 20px;
}
.wp-new-cart-orderlist td span.wp-new-cart-sprice {
	color: rgb(66, 66, 66); padding-left: 20px;
}
.wp-new-cart-orderlist td span.wp-new-cart-tprice {
	color: rgb(66, 66, 66); padding-left: 15px;
}
.wp-new-cart-orderlist td span.wp-new-cart-tprice.wp-new-cart-ordertprice {
	color: rgb(255, 43, 0); font-weight: bold;
}
.wp-new-cart-orderlist td span.wp-new-cart-deliveryf {
	padding-left: 20px;
}
.wp-new-cart-orderlist td span.wp-new-cart-total-title {
	color: rgb(66, 66, 66);
}
.wp-new-cart-orderlist tr.wp-new-cart-total-price-tr {
	border-top-color: rgb(232, 232, 232); border-top-width: 1px; border-top-style: dashed;
}
.wp-new-cart-orderlist td span.wp-new-cart-total-price-oricurrency {
	color: rgb(255, 43, 0); font-size: 18px;
}
.wp-new-cart-orderlist td span.wp-new-cart-total-price-orinumerical {
	color: rgb(255, 43, 0); font-family: Helvetica; font-size: 20px; font-weight: bold;
}
.wp-new-cart-orderlist td span.wp-new-cart-total-price-currency {
	color: rgb(255, 43, 0); line-height: 20px; font-size: 12px; font-weight: normal;
}
.wp-new-cart-orderlist td span.wp-new-cart-total-price-numerical {
	color: rgb(66, 66, 66); font-family: Helvetica; font-size: 12px; font-weight: normal;
}
.wp-new-cart-orderlist td span.wp-new-cart-total-price-numerical.total {
	color: rgb(255, 43, 0); font-size: 20px; font-weight: bold;
}
.wp-new-shopping-cartlist {
	padding: 15px 0px; border-bottom-color: rgb(232, 232, 232); border-bottom-width: 1px; border-bottom-style: dashed;
}
.wp-new-shopping-cartlist-last {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.wp-new-shopping-cartlist img.wp-new-shopping-img {
	border: 3px solid rgb(229, 229, 229); border-image: none; margin-right: 15px;
}
.wp-new-shopping-cartlist h2.wp-new-shopping-title {
	color: rgb(70, 134, 229); font-size: 14px;
}
.wp-new-shopping-cartlist h2.wp-new-shopping-title a {
	color: rgb(70, 134, 229);
}
.wp-new-shopping-cartlist h2.wp-new-shopping-title a:visited {
	color: rgb(70, 134, 229);
}
.wp-new-shopping-cartlist h2.wp-new-shopping-title a:hover {
	color: rgb(255, 78, 0);
}
.wp-new-cart-orderlist span.wp-new-downarrow {
	background: url("../view/images/wp-new-downarrow.png") no-repeat left; padding-left: 12px; display: block;
}
.wp-new-cart-orderlist span.wp-new-downarrow-right {
	background: url("../view/images/wp-new-downarrow.png") no-repeat right; padding-right: 12px; float: left; display: block;
}
.wp-new-cart-windows-content .wp-iframe_beforloaded {
	left: 19px; top: 0px; text-align: center; position: absolute; opacity: 0.6; background-color: rgb(255, 255, 255); -moz-opacity: 0.6;
}
.wp-new-cart-windows-content .wp-iframe_beforloaded img {
	left: 45%; top: 45%; position: absolute;
}
.wp-new-cart-windows-content iframe {
	width: 730px; margin-left: 34px;
}
.wp-new-cart-orderlist span.wp-new-shopping-price {
	color: rgb(255, 78, 0); font-size: 17px; font-weight: bold; margin-left: 10px;
}
.wp-new-cart-orderlist span.wp-new-shopping-favorable {
	color: rgb(138, 138, 138); font-size: 12px; margin-left: 10px;
}
.wp-new-shopping-delete-button {
	height: 21px; cursor: pointer;
}
.wp-new-shopping-delete-button .wp-new-shopping-delete-button-l {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -12px -139px; width: 4px; height: 21px; float: left;
}
.wp-new-shopping-delete-button .wp-new-shopping-delete-button-c {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -16px -139px; padding: 0px 4px; height: 21px; line-height: 19px; float: left;
}
.wp-new-shopping-delete-button .wp-new-shopping-delete-button-r {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -145px -139px; width: 4px; height: 21px; float: left;
}
.wp-new-shopping-delete-button .wp-new-shopping-delete-button-c a.wp-new-shopping-delete-link {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -12px -179px; height: 19px; color: rgb(138, 138, 138); line-height: 19px; padding-left: 11px; font-size: 11px; display: block;
}
.wp-new-shopping-delete-button .wp-new-shopping-delete-button-c a {
	color: rgb(56, 56, 56); font-weight: bold;
}
.wp-new-shopping-delete-button .wp-new-shopping-delete-button-c a:hover {
	color: rgb(34, 34, 34);
}
.wp-new-shopping-delete-button:hover .wp-new-shopping-delete-button-l {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -12px -115px; width: 4px; height: 21px; float: left;
}
.wp-new-shopping-delete-button:hover .wp-new-shopping-delete-button-c {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -16px -115px; padding: 0px 4px; height: 21px; line-height: 19px; float: left;
}
.wp-new-shopping-delete-button:hover .wp-new-shopping-delete-button-r {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -145px -115px; width: 4px; height: 21px; float: left;
}
.wp-new-shopping-delete-button:hover .wp-new-shopping-delete-button-c a.wp-new-shopping-delete-link {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -12px -159px; height: 19px; color: rgb(47, 47, 47); line-height: 19px; padding-left: 11px; font-size: 11px; display: block;
}
.wp-new-shopping-cart-button {
	height: 30px;
}
.wp-new-shopping-cart-button .wp-new-shopping-cart-button-l {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -12px -202px; width: 4px; height: 30px; float: left;
}
.wp-new-shopping-cart-button .wp-new-shopping-cart-button-c {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -16px -202px; padding: 0px 4px; height: 30px; line-height: 28px; float: left;
}
.wp-new-shopping-cart-button .wp-new-shopping-cart-button-r {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -509px -202px; width: 4px; height: 30px; float: left;
}
.wp-new-shopping-cart-button .wp-new-shopping-cart-button-c a {
	height: 28px; line-height: 28px; font-weight: bold; display: block;
}
.wp-new-shopping-cart-button:hover .wp-new-shopping-cart-button-l {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -12px -233px; width: 4px; height: 30px; float: left;
}
.wp-new-shopping-cart-button:hover .wp-new-shopping-cart-button-c {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -16px -233px; padding: 0px 4px; height: 30px; line-height: 19px; float: left;
}
.wp-new-shopping-cart-button:hover .wp-new-shopping-cart-button-r {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -509px -233px; width: 4px; height: 30px; float: left;
}
.wp-new-shopping-cart-button:hover .wp-new-shopping-cart-button-c a {
	height: 28px; color: rgb(47, 47, 47); line-height: 28px; display: block;
}
.wp-new-cart-orderlist span.wp-new-cart-currency {
	color: rgb(255, 78, 0); font-size: 18px; margin-left: 10px;
}
.wp-new-cart-orderlist span.wp-new-cart-total {
	color: rgb(255, 78, 0); font-size: 26px; font-weight: bold; margin-right: 10px;
}
.wp-new-shopping-check-sub {
	height: 38px; cursor: pointer;
}
.wp-new-shopping-check-sub .wp-new-shopping-check-sub-l {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -12px -264px; width: 4px; height: 38px; float: left;
}
.wp-new-shopping-check-sub .wp-new-shopping-check-sub-c {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -16px -264px; padding: 0px 4px; height: 38px; line-height: 36px; float: left;
}
.wp-new-shopping-check-sub .wp-new-shopping-check-sub-r {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -509px -264px; width: 4px; height: 38px; float: left;
}
.wp-new-shopping-check-sub .wp-new-shopping-check-sub-c a {
	padding: 0px 26px; height: 38px; color: rgb(255, 255, 255); line-height: 36px; font-family: Helvetica; font-size: 18px; font-weight: bold; display: block;
}
.wp-new-shopping-check-sub .wp-new-shopping-check-sub-c a:visited {
	padding: 0px 26px; height: 38px; color: rgb(255, 255, 255); line-height: 36px; font-family: Helvetica; font-size: 18px; font-weight: bold; display: block;
}
.wp-new-shopping-check-sub:hover .wp-new-shopping-check-sub-l {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -12px -303px; width: 4px; height: 38px; float: left;
}
.wp-new-shopping-check-sub:hover .wp-new-shopping-check-sub-c {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -16px -303px; padding: 0px 4px; height: 38px; line-height: 36px; float: left;
}
.wp-new-shopping-check-sub:hover .wp-new-shopping-check-sub-r {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -509px -303px; width: 4px; height: 38px; float: left;
}
.wp-new-shopping-check-sub:hover .wp-new-shopping-check-sub-c a {
	height: 36px; color: rgb(255, 255, 255); line-height: 36px; display: block;
}
.wp-new-shopping-cartlist a.wp-new-shopping-number-reduce {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -68px -3px; width: 18px; height: 18px; margin-right: 3px; display: block;
}
.wp-new-shopping-cartlist a.wp-new-shopping-number-reduce:hover {
	background-position: -108px -3px;
}
.wp-new-shopping-cartlist a.wp-new-shopping-number-add {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -88px -3px; width: 18px; height: 18px; margin-left: 3px; display: block;
}
.wp-new-shopping-cartlist a.wp-new-shopping-number-add:hover {
	background-position: -128px -3px;
}
.wp-new-shopping-number-input {
	height: 18px;
}
.wp-new-shopping-number-input-l {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -149px -3px; width: 4px; height: 18px; float: left;
}
.wp-new-shopping-number-input-c {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -153px -3px; padding: 0px 7px; height: 18px; text-align: center; color: rgb(0, 0, 0); line-height: 16px; float: left;
}
.wp-new-shopping-number-input-r {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -311px -3px; width: 4px; height: 18px; float: left;
}
.wp-new-cart-title .wp-new-shopping-cart-button {
	margin-right: 18px; float: right;
}
.wp-new-cart-title .wp-new-shopping-cart-button a.wp-new-shopping-cart-button-modfify {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -323px 0px; padding-left: 23px; font-size: 14px; display: block;
}
.wp-new-cart-title .wp-new-shopping-cart-orderinfo {
	height: 30px; margin-right: 8px; float: right;
}
.wp-new-cart-title .wp-new-shopping-cart-orderinfo-left {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -165px -115px; width: 4px; height: 30px; float: left;
}
.wp-new-cart-title .wp-new-shopping-cart-orderinfo-c {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -169px -115px; padding: 0px 5px; height: 30px; color: rgb(35, 35, 35); line-height: 30px; float: left;
}
.wp-new-cart-title .wp-new-shopping-cart-orderinfo-right {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -765px -115px; width: 4px; height: 30px; float: left;
}
.wp-new-cart-orderlist .wp-new-shopping-cart-add-address {
	width: 471px;
}
.wp-new-cart-orderlist .wp-new-shopping-cart-add-address-top {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -12px -343px; height: 23px;
}
.wp-new-cart-orderlist .wp-new-shopping-cart-add-address-c {
	background: url("../view/images/wp-new-shopping-cart-add-address-c.png") repeat-y; padding: 16px;
}
.wp-new-cart-orderlist .wp-new-shopping-cart-add-address-bottom {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -12px -368px; height: 19px;
}
.wp-new-cart-orderlist .wp-new-shopping-cart-add-address-c input {
	background: url("../view/images/wp-new-shopping-cart-add-address-c-input.gif") repeat-x rgb(255, 255, 255); border-radius: 2px; border: 1px solid rgb(181, 181, 181); border-image: none; width: 114px; height: 22px; margin-left: 8px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.wp-new-cart-orderlist .wp-new-shopping-cart-add-address-c select {
	background: url("../view/images/wp-new-shopping-cart-add-address-c-input.gif") repeat-x rgb(255, 255, 255); border-radius: 2px; border: 1px solid rgb(181, 181, 181); border-image: none; width: 114px; height: 22px; margin-left: 8px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.wp-new-cart-orderlist .wp-new-shopping-cart-add-address-c input {
	padding: 0px 5px; width: 104px;
}
select.wp-new-cart-select {
	background: url("../view/images/wp-new-shopping-cart-add-address-c-input.gif") repeat-x rgb(255, 255, 255); border-radius: 2px; border: 1px solid rgb(181, 181, 181); border-image: none; height: 22px; margin-left: 8px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.wp-new-cart-orderlist .wp-new-shopping-cart-add-address-c textarea {
	background: url("../view/images/wp-new-shopping-cart-add-address-c-input.gif") repeat-x rgb(255, 255, 255); padding: 5px; border-radius: 2px; border: 1px solid rgb(181, 181, 181); border-image: none; width: 305px; height: 62px; overflow: auto; font-size: 12px; margin-left: 8px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.wp-new-cart-messge-dialog td.wp-new-cart-messge-dialog-left {
	background: url("../view/images/wp-new-cart-messge-dialog-left.png") repeat-y; width: 15px; height: 8px; overflow: hidden;
}
.wp-new-cart-messge-dialog td.wp-new-cart-messge-dialog-right {
	background: url("../view/images/wp-new-cart-messge-dialog-right.png") repeat-y; width: 14px; height: 8px; overflow: hidden;
}
.wp-new-cart-messge-dialog td.wp-new-cart-messge-dialog-top-c {
	background: url("../view/images/wp-new-cart-messge-dialog-top-c.gif") repeat-x rgb(252, 251, 251);
}
.wp-new-cart-messge-dialog td.wp-new-cart-messge-dialog-bottom-c {
	background: url("../view/images/wp-new-cart-messge-dialog-bottom-c.png") repeat-x;
}
.wp-new-cart-messge-dialog textarea.wp-new-cart-messge-dialog-message {
	background: url("../view/images/wp-new-cart-messge-dialog-message.gif") repeat-x rgb(255, 255, 255); padding: 5px; border-radius: 2px; border: 1px solid rgb(233, 232, 232); border-image: none; width: 570px; height: 82px; overflow: auto; font-size: 12px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.wp-new-cart-messge-dialog td.wp-new-cart-messge-dialog-top-left {
	background: url("../view/images/wp-new-cart-messge-dialog-top-left.png") no-repeat; width: 15px; height: 8px;
}
.wp-new-cart-messge-dialog td.wp-new-cart-messge-dialog-top-right {
	background: url("../view/images/wp-new-cart-messge-dialog-top-right.png") no-repeat; width: 15px; height: 8px; overflow: hidden;
}
.wp-new-cart-messge-dialog-delivery-detail td p {
	margin-left: 8px;
}
.wp-new-cart-messge-dialog-delivery-detail {
	margin: 10px;
}
.wp-new-cart-messge-dialog-delivery-detail .wp-new-cart-messge-dialog-message-detail {
	font-size: 14px;
}
.wp-new-shopping-cart-button2 {
	height: 38px; cursor: pointer;
}
.wp-new-shopping-cart-button2 .wp-new-shopping-cart-button2-l {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -12px -392px; width: 4px; height: 38px; float: left;
}
.wp-new-shopping-cart-button2 .wp-new-shopping-cart-button2-c {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -16px -392px; padding: 0px 4px; height: 38px; line-height: 36px; float: left;
}
.wp-new-shopping-cart-button2 .wp-new-shopping-cart-button2-r {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -509px -392px; width: 4px; height: 38px; float: left;
}
.wp-new-shopping-cart-button2 .wp-new-shopping-cart-button2-c a {
	height: 36px; line-height: 36px; font-weight: bold; display: block;
}
.wp-new-shopping-cart-button2 .wp-new-shopping-cart-button2-c a.wp-new-shopping-cart-vieworder {
	padding: 0px 30px;
}
.wp-new-shopping-cart-button-vieworder {
	margin-left: 15px;
}
.wp-new-shopping-cart-button2:hover .wp-new-shopping-cart-button2-l {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -12px -435px; width: 4px; height: 38px; float: left;
}
.wp-new-shopping-cart-button2:hover .wp-new-shopping-cart-button2-c {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -16px -435px; padding: 0px 4px; height: 38px; line-height: 19px; float: left;
}
.wp-new-shopping-cart-button2:hover .wp-new-shopping-cart-button2-r {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -509px -435px; width: 4px; height: 38px; float: left;
}
.wp-new-shopping-cart-button2:hover .wp-new-shopping-cart-button2-c a {
	height: 36px; color: rgb(47, 47, 47); line-height: 36px; display: block;
}
.wp-new-order-success {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -12px -480px; margin: 0px auto; padding: 15px 0px 0px 100px; width: 545px; height: 96px; text-align: center;
}
.wp-new-order-success h2 {
	height: 46px; color: rgb(255, 255, 255); line-height: 46px; font-size: 18px;
}
.wp-new-order-success h2 span {
	color: rgb(255, 236, 30);
}
.wp-new-order-success p {
	color: rgb(254, 255, 174); font-size: 14px;
}
.wp-new-cart-loginform td {
	color: rgb(56, 56, 56);
}
.wp-new-cart-loginform td input.input_txt {
	background: url("../view/images/wp-new-shopping-cart-add-address-c-input.gif") repeat-x rgb(255, 255, 255); padding: 0px 5px; border-radius: 2px; border: 1px solid rgb(181, 181, 181); border-image: none; width: 202px; height: 32px; line-height: 32px; font-size: 14px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.wp-new-cart-loginform td input.input_txt:focus {
	background: rgb(255, 255, 255); border-color: rgba(30, 117, 16, 0.75); transition:border 0.2s linear, box-shadow 0.2s linear; box-shadow: 0px 0px 8px rgba(30,117,16,0.5); -moz-box-shadow: 0 0 8px rgba(30, 117, 16, .5); -webkit-box-shadow: 0 0 8px rgba(30, 117, 16, 3); -moz-transition: border linear .2s, -moz-box-shadow linear .2s; -webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
}
.wp-new-cart-manage-panel-picture-page {
	margin: 0px auto; height: 25px; text-align: center; clear: both;
}
.wp-new-cart-manage-panel-picture-page span {
	padding: 0px 7px; height: 25px; text-align: center; line-height: 25px; display: inline-block;
}
.wp-new-cart-manage-panel-picture-page a.disabled {
	background: rgb(241, 241, 241); padding: 0px 12px; height: 25px; color: rgb(0, 0, 0); display: inline-block;
}
.wp-new-cart-manage-panel-picture-page a.disabled:hover {
	background: rgb(229, 229, 229);
}
.wp-new-cart-manage-panel-picture-page a.current {
	background: rgb(241, 241, 241); margin: 0px 2px; padding: 0px 7px; height: 25px; color: rgb(0, 0, 0); display: inline-block;
}
.wp-new-cart-manage-panel-picture-page a.current:hover {
	background: rgb(56, 56, 56); color: rgb(255, 255, 255);
}
.wp-new-cart-manage-panel-picture-page a.classjason {
	background: rgb(241, 241, 241); padding: 0px 12px; height: 25px; right: 2px; color: rgb(0, 0, 0); margin-right: 2px; display: inline-block; position: relative;
}
.wp-new-cart-manage-panel-picture-page a.classjason:hover {
	background: rgb(229, 229, 229);
}
.wp-new-cart-manage-panel-picture-page a.selected_current {
	background: rgb(56, 56, 56); padding: 0px 7px; color: rgb(255, 255, 255); display: inline-block;
}
.wp-new-cart-manage-panel-picture-page span {
	line-height: 25px;
}
.wp-new-cart-manage-panel-picture-page a {
	line-height: 25px;
}
.wp-new-shopping-number-input-c input {
	background: url("../view/images/wp-new-cart-background.png") no-repeat -153px -3px; border: currentColor; border-image: none; width: 20px;
}
#wp-shopping_cart-chngstyle .wp-cartstyle_thumb {
	border: 4px solid rgb(229, 229, 229); border-image: none; width: 280px; margin-bottom: 10px; cursor: pointer;
}
#wp-shopping_cart-chngstyle .wp-cartstyle_thumb img {
	margin: 3px 40px;
}
#wp-shopping_cart-chngstyle .wp-cartstyle_thumb-selected {
	border: 4px solid rgb(54, 107, 188); border-image: none;
}
#wp-shopping_cart-chngstyle h4.wp-cartstyle-font-format-title {
	width: 40px; padding-top: 3px; font-family: "Microsoft yahei"; font-size: 12px; font-weight: normal; margin-right: 12px; float: left;
}
#wp-shopping_cart-chngstyle .wp-cartstyle-font-setcolor {
	margin: 0px 5px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 21px; height: 21px; float: left; cursor: pointer;
}
#wp-shopping_cart-chngstyle .wp-cartstyle-font-format {
	background: url("../view/images/wp-cartstyle-font.png") no-repeat 0px 0px; width: 24px; height: 24px; overflow: hidden; margin-bottom: 5px; cursor: pointer;
}
#wp-shopping_cart-chngstyle .wp-cartstyle-font-format-selected {
	background-position: 0px -24px;
}
table.wp-new-cart-delivery td {
	height: 25px;
}
