#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 {
	list-style: none; margin: 0px; padding: 0px;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 ul {
	list-style: none; margin: 0px; padding: 0px;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 {
	background-position: left top; height: 50px; line-height: 50px; padding-right: 15px; padding-left: 15px; position: relative; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/styles/hs9/dbj.jpg"); background-repeat: repeat-x; background-color: transparent;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop {
	background-position: left top; height: 50px; text-align: center; line-height: 50px; float: left; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png"); background-repeat: repeat; background-color: transparent;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop:hover {
	background-position: left top; height: 50px; text-align: center; line-height: 50px; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/styles/hs9/dhover.jpg"); background-repeat: repeat-x; background-color: transparent;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop > a {
	text-align: center; color: rgb(255, 255, 255); overflow: hidden; padding-right: 15px; padding-left: 15px; font-family: arial; font-size: 14px; font-style: normal; font-weight: normal; text-decoration: none; display: block; white-space: nowrap;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop > a:hover {
	text-align: center; color: rgb(51, 51, 51); font-family: arial; font-size: 14px; font-style: normal; font-weight: normal;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 ul {
	background-position: left top; left: -9999px; top: 38px; width: 100%; padding-top: 3px; padding-bottom: 3px; display: none; position: absolute; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png"); background-repeat: repeat; background-color: transparent;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 ul li {
	background-position: left top; height: 25px; text-align: center; line-height: 25px; font-weight: normal; float: left; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png"); background-repeat: repeat; background-color: rgb(251, 251, 251);
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 ul li:hover {
	background-position: left top; height: 25px; text-align: center; line-height: 25px; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png"); background-repeat: repeat; background-color: rgb(47, 47, 47);
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 ul li a {
	padding: 0px 10px; text-align: center; color: rgb(102, 102, 102); font-family: arial; font-size: 12px; font-style: normal; font-weight: normal; text-decoration: none; float: left; display: block; white-space: nowrap;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 ul li a:hover {
	padding: 0px 10px; text-align: center; color: rgb(255, 255, 255); font-family: arial; font-size: 12px; font-style: normal; font-weight: normal; text-decoration: none; float: left;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li ul.floatRight li {
	float: right;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 ul ul {
	background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png");
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 {
	background-color: transparent;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 {
	background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png");
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop > a {
	font-family: Microsoft YaHei;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop > a:hover {
	font-family: Microsoft YaHei;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop:hover {
	background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png");
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop > a:hover {
	color: rgb(255, 255, 255);
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 {
	height: 60px;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop {
	height: 60px;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop {
	line-height: 60px;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop:hover {
	height: 60px;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop:hover {
	line-height: 60px;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop > a {
	color: rgb(67, 67, 67);
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop:hover {
	background-color: rgb(255, 102, 55);
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 {
	list-style: none; margin: 0px; padding: 0px;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 ul {
	list-style: none; margin: 0px; padding: 0px;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 {
	background-position: left top; height: 50px; line-height: 50px; padding-right: 15px; padding-left: 15px; position: relative; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/styles/hs9/dbj.jpg"); background-repeat: repeat-x; background-color: transparent;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop {
	background-position: left top; height: 50px; text-align: center; line-height: 50px; float: left; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png"); background-repeat: repeat; background-color: transparent;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop:hover {
	background-position: left top; height: 50px; text-align: center; line-height: 50px; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/styles/hs9/dhover.jpg"); background-repeat: repeat-x; background-color: transparent;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop > a {
	text-align: center; color: rgb(255, 255, 255); overflow: hidden; padding-right: 15px; padding-left: 15px; font-family: arial; font-size: 14px; font-style: normal; font-weight: normal; text-decoration: none; display: block; white-space: nowrap;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop > a:hover {
	text-align: center; color: rgb(51, 51, 51); font-family: arial; font-size: 14px; font-style: normal; font-weight: normal;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 ul {
	background-position: left top; left: -9999px; top: 38px; width: 100%; padding-top: 3px; padding-bottom: 3px; display: none; position: absolute; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png"); background-repeat: repeat; background-color: transparent;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 ul li {
	background-position: left top; height: 25px; text-align: center; line-height: 25px; font-weight: normal; float: left; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png"); background-repeat: repeat; background-color: rgb(251, 251, 251);
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 ul li:hover {
	background-position: left top; height: 25px; text-align: center; line-height: 25px; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png"); background-repeat: repeat; background-color: rgb(47, 47, 47);
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 ul li a {
	padding: 0px 10px; text-align: center; color: rgb(102, 102, 102); font-family: arial; font-size: 12px; font-style: normal; font-weight: normal; text-decoration: none; float: left; display: block; white-space: nowrap;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 ul li a:hover {
	padding: 0px 10px; text-align: center; color: rgb(255, 255, 255); font-family: arial; font-size: 12px; font-style: normal; font-weight: normal; text-decoration: none; float: left;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li ul.floatRight li {
	float: right;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 ul ul {
	background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png");
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 {
	background-color: transparent;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 {
	background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png");
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop > a {
	font-family: Microsoft YaHei;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop > a:hover {
	font-family: Microsoft YaHei;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop:hover {
	background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png");
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop > a:hover {
	color: rgb(255, 255, 255);
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 {
	height: 60px;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop {
	height: 60px;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop {
	line-height: 60px;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop:hover {
	height: 60px;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop:hover {
	line-height: 60px;
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop > a {
	color: rgb(67, 67, 67);
}
#nav_layer4F62BE4D9C18D7B09C9C8B8605C03420 li.wp_subtop:hover {
	background-color: rgb(255, 102, 55);
}
#layer53A3F47F3E0DE3CBF2BBCD10723602D1 .wp-unslider_content .inner h1 {
	text-align: center; color: rgb(255, 255, 255); font-family: "SimSun"; font-size: 40px;
}
#layer53A3F47F3E0DE3CBF2BBCD10723602D1 .wp-unslider_content .inner h1 a {
	text-align: center; color: rgb(255, 255, 255); font-family: "SimSun"; font-size: 40px;
}
#layer53A3F47F3E0DE3CBF2BBCD10723602D1 .wp-unslider_content .inner p {
	text-align: center; color: rgb(255, 255, 255); font-family: "SimSun"; font-size: 18px; opacity: 0.6; text-shadow: 0px 0px 1px rgba(0,0,0,0.05), 0px 1px 2px rgba(0,0,0,0.3); -moz-opacity: 0.6; -khtml-opacity: 0.6;
}
#layer53A3F47F3E0DE3CBF2BBCD10723602D1 .wp-unslider_content .inner p a {
	text-align: center; color: rgb(255, 255, 255); font-family: "SimSun"; font-size: 18px; opacity: 0.6; text-shadow: 0px 0px 1px rgba(0,0,0,0.05), 0px 1px 2px rgba(0,0,0,0.3); -moz-opacity: 0.6; -khtml-opacity: 0.6;
}
#layer53A3F47F3E0DE3CBF2BBCD10723602D1 .wp-unslider_content .banner .dots li {
	border-color: rgb(255, 255, 255); text-align: center;
}
#layer53A3F47F3E0DE3CBF2BBCD10723602D1 .wp-unslider_content .banner .dots li.active {
	background: rgb(255, 255, 255); text-align: center;
}
#layer53A3F47F3E0DE3CBF2BBCD10723602D1 .wp-unslider_content .banner .arrows {
	color: rgb(255, 255, 255);
}
#layer53A3F47F3E0DE3CBF2BBCD10723602D1 .wp-unslider_content .dotsnew div {
	border-radius: 8px; border: 2px solid rgb(255, 255, 255); transition:background 0.5s, opacity 0.5s; border-image: none; text-align: center; -ms-zoom: 1; opacity: 0.4; -moz-transition: background .5s, opacity .5s; -webkit-transition: background .5s, opacity .5s;
}
#layer53A3F47F3E0DE3CBF2BBCD10723602D1 .wp-unslider_content .dotsnew div.active {
	background: rgb(255, 255, 255); text-align: center; opacity: 1;
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C {
	list-style: none; margin: 0px; padding: 0px;
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C ul {
	list-style: none; margin: 0px; padding: 0px;
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C {
	background-position: left top; height: 50px; line-height: 50px; padding-right: 15px; padding-left: 15px; position: relative; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/styles/hs9/dbj.jpg"); background-repeat: repeat-x; background-color: transparent;
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C li.wp_subtop {
	background-position: left top; height: 50px; text-align: center; line-height: 50px; float: left; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png"); background-repeat: repeat; background-color: transparent;
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C li.wp_subtop:hover {
	background-position: left top; height: 50px; text-align: center; line-height: 50px; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/styles/hs9/dhover.jpg"); background-repeat: repeat-x; background-color: transparent;
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C li.wp_subtop > a {
	text-align: center; color: rgb(255, 255, 255); overflow: hidden; padding-right: 15px; padding-left: 15px; font-family: arial; font-size: 14px; font-style: normal; font-weight: normal; text-decoration: none; display: block; white-space: nowrap;
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C li.wp_subtop > a:hover {
	text-align: center; color: rgb(51, 51, 51); font-family: arial; font-size: 14px; font-style: normal; font-weight: normal;
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C ul {
	background-position: left top; left: -9999px; top: 38px; width: 100%; padding-top: 3px; padding-bottom: 3px; display: none; position: absolute; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png"); background-repeat: repeat; background-color: transparent;
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C ul li {
	background-position: left top; height: 25px; text-align: center; line-height: 25px; font-weight: normal; float: left; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png"); background-repeat: repeat; background-color: rgb(251, 251, 251);
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C ul li:hover {
	background-position: left top; height: 25px; text-align: center; line-height: 25px; background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png"); background-repeat: repeat; background-color: rgb(47, 47, 47);
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C ul li a {
	padding: 0px 10px; text-align: center; color: rgb(102, 102, 102); font-family: arial; font-size: 12px; font-style: normal; font-weight: normal; text-decoration: none; float: left; display: block; white-space: nowrap;
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C ul li a:hover {
	padding: 0px 10px; text-align: center; color: rgb(255, 255, 255); font-family: arial; font-size: 12px; font-style: normal; font-weight: normal; text-decoration: none; float: left;
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C li ul.floatRight li {
	float: right;
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C ul ul {
	background-image: url("http://static.websiteonline.cn/website/plugin/new_navigation/view/images/png_bg.png");
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C {
	background-image: url("http://static.websiteonline.cn/website/plugin/product_category/view/images/png_bg.png");
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C li.wp_subtop > a {
	color: rgb(102, 102, 102);
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C li.wp_subtop > a {
	font-family: Microsoft YaHei;
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C li.wp_subtop {
	background-position: center;
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C li.wp_subtop:hover {
	background-image: url("http://static.websiteonline.cn/website/plugin/product_category/view/images/png_bg.png");
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C li.wp_subtop > a:hover {
	color: rgb(255, 255, 255);
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C li.wp_subtop:hover {
	background-color: rgb(247, 63, 65);
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C {
	background-color: transparent;
}
#nav_layerE02E36ECAAC9582A265A49A29EA4792C ul {
	background-color: transparent;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 a:link {
	color: rgb(90, 90, 90); text-decoration: none;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 a:visited {
	color: rgb(90, 90, 90); text-decoration: none;
}
.tb_product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 a:not(.aeffect):hover {
	color: rgb(0, 100, 212); text-decoration: none;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 span.category a {
	color: rgb(0, 100, 212); margin-right: 5px;
}
span.category a:visited {
	color: rgb(0, 100, 212); margin-right: 5px;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 span.category a:hover {
	color: rgb(44, 144, 255);
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 p.wp-new-ar-pro-style-price {
	color: rgb(172, 172, 172);
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 p.wp-new-ar-pro-style-price span.price_f {
	color: rgb(255, 60, 0);
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 p.wp-new-ar-pro-style-price span.list_price_f {
	color: rgb(102, 102, 102); text-decoration: line-through;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 ul li {
	width: 130px; line-height: 140%; overflow: auto; margin-right: 20px; margin-bottom: 10px; display: inline-block; -ms-overflow-x: hidden; -ms-overflow-y: hidden; -ms-zoom: 1;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 ul li div.wp-new-article-style-c {
	padding: 0px 3px 0px 6px;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 ul li div.img {
	width: 130px; height: 87px; overflow: hidden; margin-bottom: 8px; position: relative;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 ul li p.title {
	font-weight: bold; -ms-word-wrap: break-word;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 ul li p.time {
	color: rgb(146, 146, 146); font-size: 11px; margin-bottom: 3px;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 ul li p.abstract {
	height: 30px; line-height: 130%; overflow: hidden;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 p.wp-new-ar-pro-style-price label.price_f_title {
	line-height: 140%;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 p.wp-new-ar-pro-style-price span.list_price_f {
	color: rgb(102, 102, 102); text-decoration: line-through;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 p.wp-new-ar-pro-style-price label.list_price_f_title {
	line-height: 140%;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 .wp-new-ar-pro-style-description {
	display: inline;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 .product_list_more {
	text-align: right; padding-top: 2px; padding-bottom: 4px; clear: both; margin-right: 3px;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 .wp-pager_link {
	height: 25px; clear: both;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 ul li div.imgloading {
	background: none; border: 0px currentColor; border-image: none; left: 0px; top: 0px; position: absolute;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 .wp-pager_link .pager_link {
	margin: 0px 2px; padding: 0px 3px; border: 1px solid rgb(213, 213, 213); border-image: none; height: 18px; line-height: 18px; display: inline-block;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 .wp-pager_link span.curlink {
	border: transparent; border-image: none; color: rgb(221, 0, 0);
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 p.title {
	display: block;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 p.title {
	margin-top: 9px;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 p.title > a {
	line-height: 140%; font-family: Microsoft YaHei; font-size: 12px;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 p.category_p {
	margin-top: 3px;
	height: 34px;
	overflow: hidden;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 span.category a {
	color: rgb(7, 137, 11); line-height: 140%; font-family: SimHei;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 span.category {
	
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 p.wp-new-ar-pro-style-price label.list_price_f_title {
	line-height: 140%; display: none;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 p.wp-new-ar-pro-style-price span.list_price_f {
	line-height: 140%; display: none;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 p.wp-new-ar-pro-style-price label.price_f_title {
	line-height: 140%; font-family: Microsoft YaHei; display: inline;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 p.wp-new-ar-pro-style-price span.price_f {
	line-height: 140%; font-family: Microsoft YaHei; display: inline;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 p#price {
	margin-top: 4px;
}
#layer046FAC2DFDF48A3601F67B0DA4382A51 li.wp-new-article-style_lis {
	padding: 0px; border: currentColor; border-image: none;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 .wp-new-ar-pro-style-description {
	line-height: 136%; font-family: Microsoft YaHei; display: none;
}
#layer046FAC2DFDF48A3601F67B0DA4382A51 .showprec {
	display: inline;
}
.product_list-layer046FAC2DFDF48A3601F67B0DA4382A51 .prdfgf-border-line {
	
}
#layer046FAC2DFDF48A3601F67B0DA4382A51 ul {
	
}
#layer046FAC2DFDF48A3601F67B0DA4382A51 li.wp-new-article-style_lis:hover {
	
}
